@CHARSET "ISO-8859-1";
form{
	width:70%;
	margin:100px auto;
}
.credit-card-div  span { padding-top:10px; }
.credit-card-div img { padding-top:30px; }
.credit-card-div .small-font { font-size:9px; }
.credit-card-div .pad-adjust { padding-top:10px; }